.main{
	display: grid;
	top: 0px;
	left: 0px;
	width: 74px;
	height: 760px;
	background: #002874 0% 0% no-repeat padding-box;
	box-shadow: 5px 0px 6px #55555545;
	opacity: 1;
}
.header{
	display: grid;
	/* top: 0px;
	left: 0px;
	width: 74px;
	height: 768px; */
	/* background: #002874 0% 0% no-repeat padding-box; */
	box-shadow: 5px 0px 6px #55555545;
	opacity: 1;
	text-align: center;
}
.gap{
	left: 20px;
	width: 35px;
	height: 8px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 2px;
	opacity: 0.2;
	position: relative;
	bottom: 10px;
}
/* style="overflow: hidden;" */
