.container{
	top: 126px;
	left: 89px;
	width: 300px;
	border: 1px solid #EFF1F5;
	border-radius: 5px 5px 0px 0px;
	/* opacity: 0; */
	top: 59px;
	left: 360px;
	height: 760px;
	/* background: #F2F6FA 0% 0% no-repeat padding-box; */
	opacity: 1;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.section1{
	display: flex;
	top: 0px;
	left: 74px;
	width: 300px;
	height: 40px;
	align-items: center;
	/* background: #F8FAFD 0% 0% no-repeat */
}
.header-name{
	/* top: 20px; */
	left: 15px;
	width: 170px;
	position: relative;
	height: 20px;
	text-align: left;
	font: normal normal bold 16px/22px Mecellem;
	letter-spacing: 0px;
	color: #06090F;
	opacity: 1;
}
.asama-number{
	top: 69px;
	left: 89px;
	width: 17px;
	height: 22px;
	text-align: left;
	font: normal normal bold 18px/24px Mecellem;
	letter-spacing: -0.59px;
	color: #06090F;
	opacity: 1;
}
.arrow-left-img{
	/* top: 12px; */
	left: 80px;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	position: relative;
}
.asamaaa-name {
	top: 91px;
	left: 89px;
	width: 60px;
	height: 13px;
	text-align: left;
	font: normal normal normal 11px/14px Mecellem;
	letter-spacing: 0px;
	color: #7E8B9F;
	opacity: 1;
}
.section2{
	display: flex;
	/* background: #F8FAFD 0% 0% no-repeat; */
	padding: 10px;
	height: 50px;
}
.asama-content{
	display: grid;
	padding: 10px;
	border-right: 1px solid #EFF1F5;
}
.filter-bar{
	align-self: center;
	margin-left: 10px;
}
.filter{
	display: flex;
	top: 126px;
	left: 89px;
	/* width: 270px; */
	/* height: 35px; */
	border: 1px solid #EFF1F5;
	border-radius: 5px 5px 0px 0px;
	/* opacity: 0; */
	padding: 5px;
}
.filter-bars{
	/* top: 134px; */
	left: 120px;
	/* width: 17px; */
	/* height: 10px; */
	opacity: 0.1;
	position: relative;
}
.filter-name{
	/* top: 133px; */
	position: relative;
	left: 20px;
	/* width: 157px; */
	/* height: 15px; */
	text-align: left;
	font: normal normal normal 12px/26px Mecellem;
	letter-spacing: 0px;
	color: #4F5357;
}
.asama-data{
	top: 172px;
	left: 74px;
	width: 285px;
	height: 35px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}
.asamaa{
	/* padding: 10px; */
	border: 1px solid #EFF1F5;
}
.info{
	left: 145px;
	position: relative;
	/* background: #C0CEDE 0% 0% no-repeat padding-box; */
	opacity: 1;
	fill: #FFFFFF;
}
.asama-name{
	/* top: 219px;
	left: 134px;
	width: 54px;
	height: 16px; */
	text-align: left;
	font: normal normal normal 13px/26px Mecellem;
	letter-spacing: 0px;
	color: #0A0E12;
	opacity: 1;
}
.slider-move{
	left: 5px;
	width: 6px;
	height: 28px;
	background: #D2D9E0 0% 0% no-repeat padding-box;
	border-radius: 22px;
	opacity: 0.33;
	position: relative;
}
.line1{
	
	top: 157px;
	left: 6px;
	width: 2px;
	height: 13px;
	background: #BBC0CB 0% 0% no-repeat padding-box;
	opacity: 1;
	position: relative;

}
.line2{ 
	top: 154px;
	left: 6px;
	width: 2px;
	height: 20px;
	background: #BBC0CB 0% 0% no-repeat padding-box;
	opacity: 1;
	position: relative;

}