.main-header{
	top: 79px;
	left: 525px;
	width: 970px;
	height: 45px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 0px 5px 5px 0px;
	opacity: 1;
}
.top{
	top: 5px;
	left: 5px;
	position: relative;
	width: 560px;
	height: 45px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 5px 5px 5px 5px;
	opacity: 1;
	font-size: 14px;
}
.top-folder{
	top: 0px;
	left: 0px;
	position: relative;
	width: 35px;
	height: 14px;
	/* background: #C0CEDE 0% 0% no-repeat padding-box; */
	opacity: 1
}
.all-status{
	top: 5px;
	left: 10px;
	width: 165px;
	height: 45px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	position: relative;
}
.arrow-down{
	position: relative;
	left: 20px;
	top: 5px;
	/* left: 1171px; */
	width: 60px;
	height: 45px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
	text-align: center;
}
.filter-img{
	position: relative;
	left: 30px;
	top: 5px;
	/* left: 1171px; */
	width: 60px;
	height: 50px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 5px;
	opacity: 1;
}
.div{
	display: flex;
	top: 172px;
	left: 380px;
	width: 876px;
	height: 50px;
	background: #FAFBFC 0% 0% no-repeat padding-box;
}
.top-chevronDown{
	top: 15px;
	left: 10px;
	width: 10px;
	height: 35px;
	/* background: #F0F4F9 0% 0% no-repeat padding-box; */
	/* opacity: 0; */
	position: relative;
} 
.top-search{
	top: 5px;
	left: 25px;
	width: 14px;
	height: 14px;
	/* background: #C0CEDE 0% 0% no-repeat padding-box; */
	opacity: 1;
	position: relative;
}
.search-name{
	top: 0px;
	left: 35px;
	width: 318px;
	height: 13px;
	text-align: left;
	font: normal normal normal 11px/14px Mecellem;
	letter-spacing: -0.36px;
	color: #06090F;
	opacity: 1;
	position: relative;
}
.microphone{
	top: 0px;
	left: 60px;
	/* width: 371px; */
	height: 13px;
	text-align: left;
	font: normal normal normal 11px/14px Mecellem;
	letter-spacing: -0.36px;
	color: #06090F;
	opacity: 1;
	position: relative;
}
.all-status-name{
	top: 8px;
	left: 25px;
	width: 57px;
	height: 16px;
	text-align: left;
	font: normal normal 600 13px/17px Mecellem;
	letter-spacing: 0px;
	/* color: #06090F; */
	/* opacity: 1; */
	position: relative;
}
.all-status-chevron{
	position: relative;
	left: 60px;
	top: 8px;
}
.caret-down{
	top: 7px;
	/* left: 115px; */
	/* width: 11px; */
	/* height: 16px; */
	text-align: left;
	font: normal normal 600 13px/26px Mecellem;
	letter-spacing: 0px;
	color: #0A0E12;
	opacity: 1;
	position: relative;
}
.ele-name{
	text-align: left;
	font: normal normal 600 13px/26px Mecellem;
	letter-spacing: 0px;
	color: #0A0E12;
	opacity: 1;
	position: relative;
	top: 10px;
}
.ele{
	top: 10px;
	left: 45px;
	/* width: 11px; */
	/* height: 16px; */
	text-align: left;
	font: normal normal 600 13px/26px Mecellem;
	letter-spacing: 0px;
	color: #0A0E12;
	opacity: 1;
	position: relative;
}
